spring:
  application:
    name: eureka-server

server:
  port: 9000

eureka:
  instance:
    hostname: lcoalhost
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defalutZone: http://${eureka.instance.hostname}:${server.port}/eureka/